body {
    background-color: #EEE;
}

.wrapper {
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper:after {
    content: "";
    display: block;
    clear: both;
}

.banner {
    max-height: 300px;
    overflow: hidden;
    margin: 1%;
    position: relative;
}

.banner h2 {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    margin: 0;
    color: purple;
}

.service {
    float: left;
    background: #eee;
    width: 29%;
    margin: 1%;
    padding: 1%;
    height: 140px;
    position: relative;
}

/*.service:after {
    content: "";
    display: block;
    clear: both;
}*/

.service h2, .service p {
    color: #999;
    margin: 10px 0;
    text-align: center;
}

.services {
    max-height: 150px;
    overflow: hidden;
}

.services:after {
    content: "";
    display: block;
    clear: both;
}

.service:nth-child(1) {
    top: 5px;
}

.service:nth-child(2) {
    top: 15px;
}

.service:nth-child(3) {
    top: 25px;
}

.content {
    padding: 10px;
    background: #fff;
    clear: both;
    margin: 20px 1%;
    position: relative;
}

.content h2 {
    text-align: center;
}

.content p {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    -webkit-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
    text-align: justify;
}

p {
    padding: 30px;
    font-family: Arial;
    line-height: 1.4em;
}

section, aside {
    float: left;
    width: 46%;
    margin: 1%;
    padding: 1%;
    background: #f2f2f2;
}

aside img {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    display: block;
}

.columns:after {
    content: "";
    display: block;
    clear: both;
}

nav {
    background: #333;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
/*    max-height: 50px;*/
}

nav ul:after {
    content: "";
    display: block;
    clear: both;
}

/*nav h3 {
    color: #fff;
    width: 30%;
    text-align: center;
    margin: 0 35%;
    float: left;
}*/

nav li {
    list-style: none;
    margin: 0 10px;
    color: #fff;
    float: right;
}
